@use "@/app/_styles/variables" as *;

.card {
  background-color: $white;
  border-radius: 2rem;
  padding: $spacing-sm $spacing-sm $spacing-lg $spacing-sm;
  margin: $spacing-med;

  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: max-content min-content;
  row-gap: $spacing-med;
}
